.main {
    height: 100%;
    width: 100%;
}

.ant-tabs {
    height: 100%;
}

.modal-close {
    text-align: right;
    margin-top: -10px;
    cursor: pointer;
}

.modal-input {
    margin-top: 20px;
}

.error {
    color: #FF6565;
    margin-top: 5px;
}

.get-code {
    font-size: 12px;
    color: #3B86FF;
    cursor: pointer;
    text-align: center;
    margin: 20px 0;
}

.code-title {
    font-size: 18px;
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
}

.tip-title {
    margin: 20px 0 10px 20px;
}

.code-text li {
    list-style-type: none;
	line-height: 30px;
	margin-left: 20px;
}

.code {
    font-size: 20px;
    color: #000000D8;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}

.code-btn {
    text-align: center;
    margin: 30px 0 10px 0;
}

.login-btn {
    text-align: right;
}

.main .ant-tabs-content {
    height: calc(100% - 62px);
}